body {
	background-image:url("flag.png");
	text-align:center;
	color:black;
	font-family:"Montserrat", sans-serif;
}

.content {
	position: relative;
	background-color:white;
	opacity:0.75;
	width: 50%;
	height:50%;
	margin:auto;
}

.header {
	position: relative;
	font-size: 60px!important
}

.temp-header{
	position: relative;
	padding-top:5%;
}

.temp {
	position: relative;
	font-size: 90px;

}

.reading {
	position: relative;

}

.footer{
	position: relative;
	padding-top:20%;
}
